<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>KY-World</title>
    <link rel="icon" href="../kj.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../kj.ico" type="image/x-icon"/>
    <link rel="stylesheet" hef="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
   <!-- <link rel="stylesheet" href="css/swiper-3.4.1.min.css"/>
    <link rel="stylesheet" href="css/animate.min.css"/>-->
    <link rel="stylesheet" href="../static/css/index.css"/>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../static/js/swiper.animate1.0.2.min.js"></script>
    <script src="../static/js/swiper-3.4.1.min.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
    <div class="loading">
        <div class="zuishuai">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="goto">
            <h1>Go精彩!</h1>
        </div>
    </div><!--加载页面-->
    <div class="container mian">
        <div class="row header">
            <ul>r
                <li>my Word</li>
                <li>Temporarily</li>
                <li>no More</li>
                <li>Memories</li>
            </ul>
            <span class="underline"></span>
        </div><!--导航菜单-->

    </div>
</body>
</html>